<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="PLAYSTATION HITS"
    gameType="PS4"
    gamePrice="R$ 78,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-2.jpg"
    gameLabel="EXPANSÃO"
    gameType="PS5"
    gamePrice="R$ 299,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-3.jpg"
    gameLabel="EXCLUSIVE"
    gameType="PS5"
    gamePrice="R$ 299,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="ECONOMIZE 60%"
    gameType="PS5"
    gamePrice="R$ 39,80"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="DIGITAL"
    gameType="PS4 PS5"
    gamePrice="R$ 198,99"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="THE EZIO COLLECTION"
    gameType="PS4"
    gamePrice="R$ 119,99"
  ></app-card>
</div>
