.menu-bar__container {
  display: flex;
  flex-direction: row;

  /* Mantendo o menu posicionado e na frente de qualquer outro elemento da página */
  position: fixed;
  z-index: 999;

  background-color: #ffffff;

  width: 100%;
}

.menu-bar__logo {
}

.menu-bar__item {
}
